* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
  outline: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}